@model IEnumerable<GraboWebProject.Product>

@{
    ViewBag.Title = "Find";
}

<h2>Find</h2>
<!doctype html>
<html>
<head>
    <style type="text/css">
        body
        {
            margin: 0;
            padding: 0;
            height: 100%;
        }
        .result
        {
        	margin-top: 40px;
        }
        .image
        {
        	display:inline-block;
        }
        .product-info
        {
        	display:inline-block;
        }
        .navigation
        {
            margin-left: auto;
            margin-right: auto;
            width: 960px;
            height: 1000px;
        }
        .main
        {
            margin-left: auto;
            margin-right: auto;
            width: 750px;
        }      
        .home
        {
        	float: right;
        }
        .search-input
        {
            width: 400px;
        }
        
    </style>
</head>
<body>
    
    <div class="navigation">
        <div class="main">
            <div class="home">
                @Html.ActionImage("Index", "Statistics", "/Content/home.png", "", "")
            </div>
            <div id="search">
                <form action="" method="post">
                <input type="text" name="criteria" value="Product" class="search-input">
                <input type="submit" value="Search">
                </form>
            </div>
            @foreach (var item in Model)
            {
                <div class="result">
                    <div class="image">
                        @{
                            string args = "?selected=" + item.Name;
                        }
                        @Html.ActionImage("SelectProduct", "Search", "/Content/burger.png", "", args)
                    </div>
                    <div class="product-info">
                        @Html.DisplayFor(modelItem => item.Name)
                        @Html.DisplayFor(modelItem => item.Description)
                        @Html.DisplayFor(modelItem => item.Proteins)
                        @Html.DisplayFor(modelItem => item.Carbohydrates)
                        @Html.DisplayFor(modelItem => item.Fat)
                    </div>
                </div>
            }
        </div>
    </div>
</body>
