@model GraboWebProject.Product

@{
    ViewBag.Title = "SelectProduct";
}

<h2>SelectProduct</h2>
<!doctype html>
<html>
<head>
    <style type="text/css">
        body
        {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        p
        {
            text-indent:35px;            
            font-weight: bold;
            color: #CC9900;
            font-family:sans-serif;
            font-size:larger;
            margin-top: 20px;
        }
        hr
        {
            margin-top: 40px;
        }

        .product-statistic
        {
            margin-top: 40px;
        }
        .product-info
        {
            display: inline-block;
            text-align:center;
            margin-left: 100px;
            font-weight: bold;
            color: #CC9900;
            font-family:sans-serif;
            font-size:x-large;
        }
        .product
        {
            text-transform:capitalize;
            color: #CC9900;
            font-family:sans-serif;
            font-size:x-large;            
            margin-top: 40px;
            font-weight: bold;
        }
        .product-name
        {
            text-transform:capitalize;
            color: #CC9900;
            display:inline-block;
            font-family:sans-serif;
            font-size:x-large;            
            margin-top: 40px;
            font-weight: bold;
        }

        .producer-name
        {
            text-transform:capitalize;
            color: #CC9900;
            float:right;
            display: inline-block;
            font-family:sans-serif;
            font-size:x-large;            
            margin-top: 40px;
            font-weight: bold;
        }
        .upper-menu
        {
            width: 960px;
            height: 80px;
            background-color: green;
            margin-left: auto;
            margin-right: auto;
        }
        .navigation
        {
            margin-left: auto;
            margin-right: auto;
            width: 960px;
            background-color: yellow;
            height: 1000px;
        }
        .main
        {
            margin-left: auto;
            margin-right: auto;
            width: 750px;
        }
        
        
        #header
        {
            font-size: xx-large;
            font-style: oblique;
            color: White;
            margin-left: 5px;
            width: 100px;
        }

        #search
        {
            float: right;
            height: 10px;
        }        

        .search-input
        {
            width: 400px;
        }
        
    </style>
</head>
<body>
    
    <div class="navigation">
        <div class="upper-menu">
            <div id="header">
                eat</div>
            <div id="search">
                <form action="./Find/" method="post">
                <input type="text" value="Product" name="criteria" class="search-input">
                <input type="submit" value="Search">
                </form>
            </div>
        </div>
        <div class="main">
            <div class="product">
                <div class="product-name" id="productName">
                    @Html.DisplayFor(model => Model.Name)
                </div>
                <div class="producer-name" id="producerName">
                    @Html.DisplayFor(model => Model.Producer)
                </div>
            </div>
            <hr/>
            <div class="product-statistic">
                <div class="product-info">
                    Carbohydrates
                    <div id="carbs">
                        @Html.DisplayFor(model => Model.Carbohydrates)g
                    </div>
                </div>
                <div class="product-info">
                    Proteins
                    <div id="proteins">
                        @Html.DisplayFor(model => Model.Proteins)g
                    </div>
                </div>
                <div class="product-info">
                    Fat
                    <div id="fat" >
                        @Html.DisplayFor(model => Model.Fat)g
                    </div>
                </div>
            </div>
            <hr/>
            <div id="productDescription" class="top">
                @{
                    string[] lines = Regex.Split(Model.Description, "\\n+");
                }
                @foreach (var line in lines)
                {
                    <p>@line</p>
                }
            </div>
        </div>
    </div>
</body>
</html>
