@model GraboWebProject.User
@{
    ViewBag.Title = "User Profile";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<h2>
    <i>hello,</i> @Model.FirstName</h2>
<p>
    Use this page to define your profile. We're here to help you so the better you profile
    the more we'll be able to guide you with more information about how the things you
    consume every day impact your health.
</p>    
     <i>Personal Profile</i>
     @Html.ActionLink( "Health Profile", "HealthProfile", new { userId = Model.Id } )
     <hr />
<section>
    @using ( Html.BeginForm() )
    {
        @Html.ValidationSummary( true )
    <fieldset>
        <legend>Personal Profile</legend>
 
            @Html.HiddenFor( model => model.Id )

        <div class="editor-label">
            @Html.LabelFor( model => model.FirstName )
        </div>
        <div class="editor-field">
            @Html.EditorFor( model => model.FirstName )
            @Html.ValidationMessageFor( model => model.FirstName )
        </div>

        <div class="editor-label">
            @Html.LabelFor( model => model.LastName )
        </div>
        <div class="editor-field">
            @Html.EditorFor( model => model.LastName )
            @Html.ValidationMessageFor( model => model.LastName )
        </div>

        <div class="editor-label">
            @Html.LabelFor( model => model.Gender )
        </div>
        <div class="editor-field">
            @Html.EditorFor( model => model.Gender )
            @Html.ValidationMessageFor( model => model.Gender )
        </div>

        <div class="editor-label">
            @Html.LabelFor( model => model.Age )
        </div>
        <div class="editor-field">
            @Html.EditorFor( model => model.Age )
            @Html.ValidationMessageFor( model => model.Age )
        </div>

        <p>
            <input type="submit" value="Save"  />
        </p>
    </fieldset>
    }
</section>


<div class="home" style = "margin-top:50px;float:right;">
                @Html.ActionImage("Index", "Statistics", "/Content/home.png", "", "")
</div>