@model GraboWebProject.User
@{
    ViewBag.Title = "User Profile";
}
<h2>
    <i>hello,</i> @Model.FirstName</h2>
<p>
    Use this page to define your profile. We're here to help you so the better you profile
    the more we'll be able to guide you with more information about how the things you
    consume every day impact your health.
</p>
@Html.ActionLink( "Personal Profile", "Edit", new { userId = Model.Id } )
<i>Health Profile</i>
<hr />
<section>
        <h2>Health Profile</h2>
        <p>Here you can define a list of your personal health preferences:</p>

         @Html.ActionLink( "+ Add New", "AddAllergy", new { userId = Model.Id } )

         <ul></ul>

    </section>

<script type="text/javascript">

    var url = '@Url.Action( "GetIngredients", "UserProfile" )';

    $.getJSON(url,
           null,
           function (data) {
               $.each(data, function (i,val) {
                   $("ul").append("<li>" + val.Name + " - " + val.Description + "</li>");
               });
           });
   
</script>

<div class="home" style = "margin-top:50px;">
                @Html.ActionImage("Index", "Statistics", "/Content/home.png", "", "")
</div>
