@model IEnumerable<GraboWebProject.Purchase>
@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Message</h2>

<ul>
    @foreach ( var item in Model )
    {
        <li>
            <h2>
                @Html.DisplayFor( modelItem => item.Date.DayOfWeek ), 
                @Html.DisplayFor( modelItem => item.Date.Day ).@Html.DisplayFor( modelItem => item.Date.Month ).@Html.DisplayFor( modelItem => item.Date.Year )
            </h2>
            <p>
                @Html.DisplayFor( modelItem => item.Date.TimeOfDay.Hours ):@Html.DisplayFor( modelItem => item.Date.TimeOfDay.Seconds ) - got a 
                
                <i>@Html.DisplayFor( modelItem => item.Product.Name )</i> at 
                <i>@Html.DisplayFor( modelItem => item.Place )</i> made by - 
                @Html.DisplayFor( modelItem => item.Product.Description )
                <i>@Html.DisplayFor( modelItem => item.Product.Producer )</i>
            </p>
        </li>
    }
</ul>

